<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
  <%- include ./partials/_header %>
</head>
<style>
        body {background-color: rgb(45, 210, 243); text-align: center;}
        h1   {color: blue;}
        h2   {color: red;}
        p    {color: red;}
</style>
<body>
    <!-- Add your EJS code here -->
    <h2> List of Urls! </h1>
     <% for(var key in urls) { %> 
        <div style="margin: 15px;" >  
        <%= key %> -->
        <a href=<%= urls[key].longURL %>><%= urls[key].longURL %></a>
        <a href="/urls/<%= key %>">Edit</a>
        <form method="POST" action="/urls/<%=key%>/delete" style="margin:10px; display:inline-block;" >
        <button type='submit'>DELETE</button>
        </form>
    </div>
        <% } %>
    <a href="/urls/new">Make new Short URL</a>
</body>
</html>