<!DOCTYPE html>
<html lang="en">
<%- include ./partials/_header %>

    <body style="font-size:20px; padding:20px;">
        Short URL:
        u/<%= shortURL %>
        <form action="/urls/<%=shortURL %>" method="POST" style="margin:30px;">
            <label for="longURL">Enter a New URL:</label>

            <input id="longURL" type="text" name="longURL" value="<%=longURL%>" style="width: 300px">
            <button type="submit">UPDATE</button>
        </form>
        <form method="POST" action="/urls/<%=shortURL%>/delete" style="margin:10px;">
            <button type='submit'>DELETE</button>
        </form>
    </body>

</html>